*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    user-select: none;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: white black;

}


#loading{
    background-color: black;
    text-align: center;
    opacity: 1;
    transition: 0.3s;
}

#loading h1{
    margin-top: 250px;
    color: white;
    font-size: 90px;
    font-family: 'Playfair Display', serif;

}


html body{
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow-y: hidden;
}

html{
    overflow-y: hidden;

}


@keyframes load {
    0%{opacity: 0;}
}
#web-content{
    animation: load 2s;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

section{
    position: relative;
    width: 100%;
    margin-bottom: auto;
    transition: 0.3s ease-in-out;
    z-index: 2;
    height: 100vh;
}

.background{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.4;
    transition: 0.5s ease;
    overflow-y: hidden;
}



#home-page{
    position: relative;
    text-align: center;
}

#picture{
    width: 225px;
    border-radius: 100%;
    transition: 0.7s ease;
    margin-top: 50px;

}

#picture:hover{
    box-shadow: 2px 2px white;

}


#name{
    margin-top: 25px;
    transition: 0.7s;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    margin-bottom: 70px;

}

#name:hover{
    text-shadow: 2px 2px black;
}


@keyframes shadow {
    0%{
        margin-top: -20px;
    }

}



#content-page{
    display: none;
    opacity: 0;
}

#content-page ul li{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#content-page ul{
    animation: shadow 0.7s ;
    text-align: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 20px;
    width: 80%;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.7s ;
}



.list-devider{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0;
    background-color: rgb(255, 255, 255);
    margin: auto;
    transition: 0.5s ease;
    margin-top: 10px;
}


h2:hover + .list-devider{
    opacity: 1;
}


#title{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    display: none;
    height: 100px;
    padding-top: 50px;
}

#title h1{
    font-size: 60px;
    color: white;
    transition: 0.7s;
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-shadow: 2px 2px black;
    padding: auto;
}

.devider{
    width: 300px;
    height: 2.5px;
    background-color: white;
    border-radius: 100%;
    margin: auto;
}


@keyframes about {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

.content{
    height:100% ;
}
.text{
    color: white;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    animation: about 1.5s;
    overflow-y: hidden;
    line-height: 40px;
}
.text-container{
    width: 80%;
    text-align: left;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#about-page{
    opacity: 0;
    display: none;
    text-align: center;
}



.movement li{
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s;

}


#back{
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    margin: auto;
    background-size: contain;
    


}


#screen{
    margin-top: 50px;
    height: 90%;
    width: 100%;
}

#control{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    column-gap: 2px;
    z-index: 5;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 0;
}
#next{
    margin: auto;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;

}


#menu{
    z-index: 2;
    text-align: center;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
    -webkit-user-drag: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
}


#education-page{
    position: relative;
    display: none;
}


@keyframes university-text {
    0%{
        margin-top: 35px;
    }

}

.education-text{
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    text-rendering: geometricPrecision;
    font-family: 'Libre Baskerville', serif;
    margin-left: auto;
    margin-right: auto;
}


.education-text h1{
    font-size: 55px;
    animation: university-text 1s;

}


@keyframes university {
    0%{
        opacity: 0;
    
    }

}

.education-text h4{
    margin-top: 20px;
    font-size: 25px;
}

#university{
    margin-top: 40px;
    color: red;
    text-shadow: 2px 2px black;
    transition: 0.7s;
    animation: university 0.7s;
    font-size: 45px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


#university:hover{
    color: white;

}


.skill-element{
    scroll-snap-align: start;
    text-align: center;
    width: 200px;
}


@keyframes skills {
    0%{
        height: 0;
    }
}


.skill-element img{
    height: 75px;
    margin-top: 50px;
    border-radius: 100%;
    animation: skills 0.5s;
    background-color: white;
    margin-top: auto;
}

.skill-element h1{
    color: white;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    text-shadow: 3px 3px black;
    margin-bottom: 50px;
}

.vertical-line{
    width: 2px;
    height: 50px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 100px;
}


#skills-page{
    opacity: 0;
    display: none;
    width: 100%;
}



#contact-page{
    opacity: 0;
    display: none;
    width: 100%;
}


@keyframes contact-animation {
    0%{
        margin-top: 40px;
    }
}


#contact-list{
    text-align: center;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.contact-element{
    color: black;
    margin-right: auto;
    margin-left: auto;
    transition: 0.5s;
    text-align: center;
    width: 100%;
    height: 150px;
    animation: contact-animation 0.7s;

}


.contact-element:hover{
    padding-top: 20px;    
}


#contact-list img{
    width: 80px;
    margin-right: auto;
    margin-left: auto;
    
}

#contact-list a{
    margin-top: 20px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px black;
    font-size: 22px;
}


#contact-list div a:visited{
    color: white;
    
}

#skills-list{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background: transparent;
    width: 80%;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 0;
    margin-left: auto;
    margin-right: auto;
    scroll-snap-type: y mandatory;
    height: 100%;
}


/*

Mobile view

*/


@media screen and (max-height: 600px){
    #home-page{
        position: relative;
        overflow: scroll;
        text-align: center;
    }

    
    #title{
        height: 150px;
    }
    #content-page{
        overflow: scroll;
        text-align: center;
    }

    #education-page{
        overflow: scroll;
        text-align: center;
    }    
    #skills-page{
        overflow: scroll;
        text-align: center;
    }
    #contact-page{
        overflow: scroll;
    }
 
    #projects-page{
        overflow: scroll;
        text-align: center;
    }

}


@media screen and (max-width: 840px){

    #screen{
        margin-top: 10px;
    }
    #skills-list{
        overflow-y: scroll;
        overflow-x: hidden;
        display: block;
        width: 100%;
    }



    #picture{
        width: 180px;
        border-radius: 100%;
    }
    #name{
        margin-top: 25px;
        font-size: 50px;
    
    }
    #control{
        margin: auto;
        width: 250px;
    }
    .text{
        font-size: 15px;
    }

    .vertical-line{
        height: 50px;
    }




    #contact-list{
        flex-direction: column;
        grid-template-columns: 1fr;
        animation: contact-animation 0.7s;
        display: block;
    }
    #contact-list div:hover{
        margin-bottom: 2px;    
    }
    
    #title h1{
        font-size: 35px;
        color: white;
        transition: 0.7s;
        font-family: 'Playfair Display', serif;
        text-align: center;
        text-shadow: 2px 2px black;
        margin-bottom: 15px;
    }
    
    .devider{
        width: 250px;
        height: 2.5px;
        background-color: white;
        border-radius: 100%;
        margin: auto;
    }
    
    .page-title{
        font-size: 30px;
    }

    #title{
        height: 120px;
    }
    #content-page ul{
        justify-content: center;
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
    
    }

    .education-text h1{
        font-size: 30px;
    }

    .education-text h4{
        font-size: 15px;
    }
    #university{
        font-size:30px;
    }

    .skill-element h1{
        height: 80px;
        font-size: 20px;
        text-align: center;
    }
    .skill-element img{
        height: 70px;
        margin-top: 30px;
        border-radius: 100%;
    }
    .skill-element{
        margin-left: auto;
        margin-right: auto;
    }

    #contact-list img{
        width: 60px;
        margin-right: auto;
        margin-left: auto;
        
    }
    
    #contact-list a{
        margin-top: 0px;
        font-family: 'Libre Baskerville', serif;
        color: white;
        text-decoration: none;
        text-shadow: 2px 2px black;
        font-size: 15px;
    }
    
}



#awards-page{
    display: none;
    opacity: 0;
}


#awards-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    background: transparent;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: row;
    height: 100%;
}


@keyframes award {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}


.award{
    scroll-snap-align: start;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: 30px;
    animation: award 2s;
    margin-bottom: 40px;
    width: 60%;
}


.award h2{
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 30px;

}

.award h2{
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 30px;
}
.award h3{
    font-family: 'Playfair Display', serif;
    margin-top: 5px;
    color: white;
}

.award p{
    margin-top: 20px;
    color: white;
    font-family: 'Playfair Display', serif;

}


#projects-page{
    display: none;
    opacity: 0;
}

#project-container{
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    scroll-snap-type: y mandatory;
}


.project{
    scroll-snap-align: start;
    margin-left: auto;
    margin-right: auto;
    width: 250px;

}

.project-head{
    cursor: pointer;
    justify-content: center;
    text-align: center;
    padding: 20px;
    z-index: 8;
    margin-right: auto;
    margin-left:auto;

}
.project-head h1{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}


.project-description{
    display: none;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.4s;
    padding: 5px;
    font-family: 'Playfair Display', serif;
    text-align: left;
    opacity: 0;
    color: white;
    text-shadow: 2px 2px black;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 30px;
    font-size: 20px;
}

.project-devider{
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
}



.project-icon{
    width: 100px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(243, 240, 237);
}



.up{
    transition: 0.4s;
}




/* Scroll bar style */
*::-webkit-scrollbar {
    width: 12px;  
    height: 12px; 
}

*::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}
*::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
